<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Contact</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link type="text/css" rel="stylesheet" href="../static/modify-data.css" />
  </head>

  <body>
    <header>
      <ul class="header-menu" id="header-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="about">Nosotros</a></li>
        <li><a href="services">Servicios</a></li>
        <li><a href="contact">Contáctenos</a></li>
      </ul>
      <button id="header-button">☰</button>
    </header>

    <div class="container">
      <section class="consult-data">
        <h1>Consultar datos</h1>
        <p>Por favor, escribe el nombre o el email que deseas consultar.</p>
        <form action="/modify-data" method="post" enctype="multipart/form-data">
          <select id="eleccion" name="eleccion">
            <option value="name">Nombre</option>
            <option value="mail">Email</option>
          </select>
          <input type="text" name="datos" id="datos" />
          <input type="submit" value="Consultar" />
        </form>
      </section>
      <section class="data-table">
        <tbody id="data-table">
          {% for d in data %}
          <tr>
            <td>{{d.id}}</td>
            <td>{{d.usuario}}</td>
            <td>{{d.nombre}}</td>
            <td>{{d.email}}</td>
            <td>
              <img src="data:image/png;base64,{{ d.imagen }}" alt=" EcoCiclo" />
            </td>
            <td>
              <button class="btn btn-primary btn-sm" id="">Editar</button>
            </td>
            <td><a href="#" class="btn btn-danger btn-sm">Borrar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </section>
    </div>
  </body>
</html>
