*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: white;
}
a {
  text-decoration: inherit;
  color: inherit;
}

header {
  padding: 2rem 6rem;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: grid;
  background: linear-gradient(0deg, rgba(23, 33, 29, 1), rgba(0, 0, 0, 0)),
    url(../static/imagenes/Mask-group.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Header */
.header-menu {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: end;
  gap: 30px;
  z-index: 10;
}
.header-menu li {
  font-size: 1.4rem;
}

.header-menu li:hover {
  cursor: pointer;
  color: #9fc131;
}

.header-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  transform: translateY(35%);
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.9);
}

/* Main */
main {
  min-height: 100vh;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #17211d;
  align-items: center;
  justify-content: center;
}
#header-button {
  display: none;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.main-button {
  background-color: #1f6649;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.main-button:active {
  background-color: #414644;
  cursor: pointer;
}
.main-paragraph {
  line-height: 120%;
  width: 80%;
}
.main-images {
  display: block;
}
#tree {
  position: relative;
  bottom: 2rem;
  z-index: 4;
}
#plant {
  z-index: 5;
  position: relative;
  top: 5rem;
  left: 15rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #2a2a43;
  font-weight: 500;
  font-size: 1.4rem;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
    gap: 2rem;
    min-height: 100%;
  }
  .main-text {
    align-items: center;
  }
  .main-paragraph {
    text-align: center;
  }

  .main-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  #tree {
    position: static;
    width: 15rem;
  }
  #plant {
    position: static;
    width: 15rem;
  }

  #header-button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    right: 7rem;
    top: 2rem;
    color: #f5f5f5;
    font-size: 2rem;
  }

  .header-title {
    font-size: 6rem;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    background-color: #17211d;
    padding: 2rem;
    border-radius: 5px;
    gap: 1rem;
  }
}
